<% provide(:title, "ユーザー一覧") %>
<% provide(:class_text, "user--edit") %>
<% provide(:btn_text, "更新") %>
<h1><%= params[:search].present? ? "検索結果" : "ユーザー一覧" %></h1>
<h3 class="center"><%= link_to "戻る", users_path if params[:search].present? %></h3>

<div class="container">
  <div class="row form-group">
    
    <!-- CSVインポートフォーム -->
    <div class="col-md-3 col-md-offset-1 csv-group">
      <%= form_tag(import_users_path, method: :post, multipart: true) do %>
        <%= file_field_tag :csv_file, class: "form-control" %>
        <%= submit_tag "CSVをインポート", class: "btn btn-primary btn-block btn-csv" %>
      <% end %>
    </div>
    
    <!-- ユーザー検索フォーム -->
    <div class="col-md-2 col-md-offset-2 input-group">
      <p>ユーザー名検索</p>
      <%= form_tag(users_path, method: :get) do %>
        <span class="input-group-btn">
          <%= text_field_tag :search, '', placeholder: 'キーワドを入力', class: "form-control"  %>
          <%= submit_tag '検索', name: :nil, class: "btn btn-primary" %>
        </span>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1 paginate-top"><%= will_paginate %></div>
  </div>
  
  <div class="row col-md-10 col-md-offset-1 acd-users">
    <% @users.each do |user| %>
      <div>
        <div>
          <p><%= user.name %></p>
          <p>| <%= link_to "削除", '#', class: "btn btn-primary" %></p>
        </div>
        
        <!-- アコーディオン表示 -->
        <div class="acd jumbotron">
          <div class="acd-content col-md-2">
            <a class="btn btn-primary btn-lg btn-edit" data-toggle="collapse" href="#collapse<%= user.id %>" role="button"> <!-- user.idを渡して各ユーザーに紐付け -->
              編集
            </a>
          </div>
        </div>
        <div class="collapse collapse-panel" id="collapse<%= user.id %>"> <!-- user.idを渡して各ユーザーに紐付け -->
          <div class="collapse-body">
            <%= render 'form', { user: user } %> <!-- render partial: 'form', locals: { user: user } でも可。 -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-10 col-md-offset-1 paginate-bottom"><%= will_paginate %></div>
  </div>
</div>



 


<!-- ここから保留 -->
<div class="col-md-10 col-md-offset-1">
  <div class="input-group">
    <p>ユーザー名検索</p>
    <%= form_tag(users_path, method: :get) do %>
      <span class="input-group-btn">
        <%= text_field_tag :search, '', placeholder: 'キーワドを入力', class: "form-control"  %>
        <%= submit_tag '検索', name: :nil, class: "btn btn-primary" %>
      </span>
    <% end %>
  </div>
  <div class="paginate-top"><%= will_paginate %></div>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= current_user.admin? ? (link_to user.name, user) : user.name %></td>
        <td>
          <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-success" if current_user.admin? %>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "#{user.name}のデータを削除しますか？" },
              class: "btn btn-danger" if current_user.admin? && !current_user?(user) %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
<!-- ここまで保留 -->

<!-- モーダルウィドウ -->
<div id="edit_basic_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_basic_info" data-toggle="collapse" href="edit_basic_info" role="button" aria-expanded="false" aria-controls="edit_basic_info"></div>
