<% provide(:title, "ユーザー一覧") %>
<h1><%= params[:search].presence ? "検索結果" : "ユーザー一覧" %></h1>
<h3 class="center"><%= link_to "戻る", users_path if params[:search].present? %></h3>

<div class="col-md-10 col-md-offset-1">
  <div class="input-group">
    <p>ユーザー名検索</p>
    <%= form_tag(users_path, method: :get) do %>
      <span class="input-group-btn">
        <%= text_field_tag :search, '', placeholder: 'キーワドを入力', class: "form-control"  %>
        <%= submit_tag '検索', name: :nil, class: "btn btn-primary" %>
      </span>
    <% end %>
  </div>
  <div class="paginate-top"><%= will_paginate %></div>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "#{user.name}のデータを削除しますか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
